html {
  background-color: #CDE77F;
}


body {
  padding: 0;
  margin: 0;
  }
  
  #root {
  min-height: 100%;
  background-color: #CDE77F;
  }

/* Home Page */
.home {
  position: relative;
  height: 100vh;
  margin:0px;
  background-color: #CDE77F;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

p {
  color: #373F41;
}

h1 {
  color: #373F41
}

h2{
  text-align: center;
  color: #373F41;
}

h3 {
  color: #373F41
}

h4 {
  color: #CDE77F;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

h5 {
  color: #CDE77F;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

h6 {
  color: #cde77f;
}

ul {
  color: #373F41;
  text-align: center; 
  list-style-type: none; 
}

/* Plant cards */
.PlantCard, .slider, .landing-page{
  background-color: #CDE77F;
  margin: auto;
  width: 50%;
}
.flex {
  display: flex;
  
}
.flex-jc-sb-a-c {
  justify-content: space-between;
  align-items: center;
}

#textField{
  max-width:50%;
  display: inline-block;
  text-align: center;
  font-weight:bold;
  display:inline-block;
}
#imgDiv{
  display:inline-block;
  width:50%;
}
#indicatorCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-auto-flow: column;
    height: 150px;
}
.indicator{
  border: 1px solid #000;
  background-color: #E6F8B2;
}
.colorInd{
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
}
/* Plants cards color indicators */
#color1{
  background-color: blue;
}
#color2{
    background-color: red;
}
#color3{
    background-color: green;
}
#color4{
    background-color: yellow;
}
#color5{
  background-color: #CDE77F;
}

#color6{
  color: #709176;
}

/* Local weather */

.search {
  background-color: #709176;
}

.panel {
  background-color: #CDE77F;
}

.panel-footer {
  height: 20vh;
}

.p-4 {
  color: #CDE77F;
}

.btn-pp {
  color: #709176
}

.btn-xs {
  color: #709176
}

.btn {
  color: #709176
}

.row {
  
}

/* Header */
.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CDE77F;
}

h1.my-auto.mx-auto {
  color: #CDE77F;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

button.btn.btn-success {
  background-color: #79745C;
  border-color: #79745C;;
}

.page-header div {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
/* Footer */
.page-footer {
  position: relative;
  height: 190px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #709176;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}



.page-footer h2 {
  /* Remove gap between content div and footer div h2 */
  margin: 0 auto;
  color: #E6F8B2;
}

.card-body {
  background-color: #E6F8B2;
}
.card {
  background-color: #E6F8B2;
}

.page-footer ul {
  display: inline-block;
  list-style: none;
}

.page-footer li, a {
  color: black;
  text-decoration: none;
}
/* Navbar */
.navbar{
  background-color: #709176;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}

.navbar-expand .navbar-nav .nav-link {
  color: #373F41;
}

.btn-success {
  color: #E6F8B2;
}

.ml-auto, .mx-auto>h1 {
 color: #E6F8B2;
}

/* Login Page */
.login-page {
  width: 360px;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #CDE77F;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #CDE77F;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#709176,#CDE77F);
  width: 100%;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
/* Introduction part in login page */

.introduction {
  padding: 3%;
  width: 800px;
  height: 600px;
  background-color: #E6F8B2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

}

/* Create user */
label {
  display: inline-block;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.NewUser {
  padding: 2rem;
}

/* navbar */
.navbar {
  height: 10vh;
}

/* Plantcard Preview */
.PlantPrev {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin:2rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*new plant*/
.newPlantForm {
  margin: auto;
  width: 80vw;
  height: 63vh;
  background-color: #CDE77F;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}

/* ----- Slideshow -------*/

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded  {
  background-color: #709176;
}

* {box-sizing:border-box}

/* Slideshow container */

span.MuiButton-label {
  color: #E6F8B2;
}

.MuiPaper-root.MuiMobileStepper-root.MuiMobileStepper-positionStatic.MuiPaper-elevation0 {
  background-color: #CDE77F;
}


.slideshow-container {
  justify-content: center;
  margin: auto;
  width: 600px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

.fadeout {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeout {
  from {opacity: 1}
  to {opacity: .4}
}

/* ------ End of slideshow css -------- */