.plant-card {
width: auto;
display: flex;
flex-direction: column;
align-items: center;
background-color: #709176;
outline: none; /* remove border */
}

.plant-card2 {
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #CDE77F;
outline: none; /* remove border */
}


.card-spacing {
  margin: 10px;
}

.plant-img {
width: 200px;
height: 200px;
}

.plant-info {
display: flex;
flex-wrap: wrap;
height: 45vh;
margin-top: 20px;
background-color: #709176;
}



.watering-slider, .fertilizing-slider {
flex-basis: 50%;
padding: 10px;
background-color: #709176;
}

.plant-text {
flex-basis: 100%;
padding: 10px;

background-color: #709176;
}



.plant-status {
flex-basis: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 10px;
background-color: #709176;
}

.status-item {
flex-basis: 48%;
background-color: #709176;
}

.posts {
    background-color: #709176;
}

.PlantPrev {
    background-color: #CDE77F;
    margin: 10px; /* add margin to create space between boxes */
}

h1 {
   color: #373F41;
}

p {
    color: #373F41;
}
